.selected-text{
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
}

.word-length{
	background-color: #FFFF00;
	color: black;
}

.display-text{
	line-height: 1.75;
}

.themed{
	text-decoration: underline pink wavy
}