:root{
	--gray-border: rgb(113,117,119);
	--c1: rgb(110,64,170);
	--c2: rgb(150,61,179);
	--c3: rgb(191,60,175);
	--c4: rgb(228,65,157);
	--c5: rgb(254,75,131);
	--c6: rgb(255,94,99);
	--c7: rgb(255,120,71);
	--c8: rgb(251,150,51);
	--c9: rgb(226,183,47);
	--c10: rgb(198,214,60);
	--c11: rgb(175,240,91);
};

#layout{
	min-width: 950px;
}

.i-b{
	display: inline-block;
}

#layout div{
	vertical-align: top;
	float: left;
	border: 1px dotted rgb(120,120,120)
}

.f-w{
	/*width: 100%;*/
}

#layout div#title-box{
	height: 125px;
	/*background-color: var(--c1);*/
}

#layout div#area-box{
	height: 100px;
	background-color:/* var(--c3);*/
	/*width: 100%;*/
}

#layout div#focus-area-box{
	height: 250px;
	/*background-color: var(--c5);*/
	/*width: 40%;*/
	/*min-width: 500px;	*/
}

#layout div#area-explain-box{
	height: 75px;
	/*background-color: var(--c7);*/
	/*width: 60%;*/
	/*min-width: 400px;	*/
}

#layout div#theme-box{
	height: 350px;
	/*background-color: var(--c9);*/
	/*width: 20%;*/
	/*min-width: 200px;	*/
}

#layout div#image-box{
	height: 350px;
	/*background-color: var(--c11);*/
	/*width: 40%;*/
	/*min-width: 200px;	*/
}

#layout div#words-of-interest-box{
	height: 450px;
	/*background-color: var(--c2);*/
	/*width: 40%;*/
	/*min-width: 200px;	*/
	margin-top: -174px;
}

#layout div#words-by-length-box{
	height: 275px;
	/*background-color: var(--c4);*/
	/*width: 40%;*/
	/*min-width: 200px;	*/
}

#layout div#divider-box{
	height: 50px;
	/*background-color: var(--c6);*/
	/*width: 40%;*/
	/*min-width: 200px;	*/
}

#layout div#text-display-box{
	height: 500px;
	/*background-color: var(--c8);*/
	/*width: 40%;*/
	/*min-width: 200px;	*/
}