
:root{
	--gray: rgb(80,80,80);
	--border: 2px solid var(--gray);
	--bottom-narrow: linear-gradient(
   to right,
   transparent 30%, 
   rgb(80,80,80) 30% 70%, 
   transparent 70% 100%
  ) 0 0 1 0 / 2px;
  --bottom-mid: linear-gradient(
   to right,
   transparent 20%, 
   rgb(80,80,80) 20% 80%, 
   transparent 80% 100%
  ) 0 0 1 0 / 2px;
};

/*@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('./fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa-Light';
  src: url('./fonts/Comfortaa-Light.ttf');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('./fonts/Comfortaa-Bold.ttf');
}*/

/*@font-face{
	font-family: 'Imprint-MT-Shadow';
	src: url('./fonts/ImprintMTShadow.ttf');
}*/

* {
	box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	/*font-family: Comfortaa-Regular;*/
	/*font-family: 'Roboto Slab', serif;*/
	font-family: 'Prata', serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{
	background-color: rgb(29,34,41); /* rgb(20,20,20) */
	color: rgb(147,147,147);
}

.light > * {
	color: black;
	background-color: white;
}

h1.title{
	text-align: center;
	font-size: 36px;
}

.title-data{
	border-top: var(--border);
	border-bottom: var(--border);
}

/* 
	Grid-Template-areas 
	https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas 

	Grid-template-rows
	https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows
	grid-template-rows: 250px 1fr 2fr; 
	
	Grid-template-columns
	https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns

	fr = fraction
		cut the remaining content into 3rds (1+2)
*/

#flex-grid-layout{
	/*I-E-Friendly styles before the grid-api ... :/ */
	display: inline-block;
	display: grid;
	width: 100%;
	grid-template-areas: 
		"top top"
	  "l r"
	  "bottom bottom";
	grid-template-rows: 210px 1fr 1fr; 
	grid-template-columns: 40% 1fr;
	padding: 0 25px;
	grid-column-gap: 30px;
}

/*TOP SECTION?! 
	magic, like css var(--varHere) from "top top"
	from the grid-template-areas above
*/

#app{
	background-color: #14181d;
	background-image: url(https://www.transparenttextures.com/patterns/black-paper.png);
}

header{
	grid-area: top;
}

#left-side{
	grid-area: l;
}

#right-side{
	grid-area: r;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer{
	grid-area: bottom;
}

#flex-grid-layout #title-box{
	max-height: 150px;
}

#flex-grid-layout #area-box{
	height: 100px;
}

#flex-grid-layout #focus-area-box{
	max-height: 315px;
	border-bottom: var(--border)
}

#flex-grid-layout div#focus-area-box #focus-area-hover{
	max-height: 200px;
	min-height: 190px;
}

#flex-grid-layout #area-explain-box{
	max-height: 75px;
}

#flex-grid-layout #theme-box{
	max-height: 350px;
	border-left: var(--border);
	border-right: var(--border);
}

#flex-grid-layout #image-box{
	max-height: 350px;
	border-left: var(--border);
	padding: 5px 25px;
}

.face-image{
	max-height: 100%;
	max-width: 100%;
}

#flex-grid-layout #words-of-interest-box{
	max-height: 385px;
}

#flex-grid-layout #words-by-length-box{
	max-height: 275px;
	flex: 1;
}

#flex-grid-layout div#text-display-box p.text-content{
	line-height: 2.3;
	columns: 2;
	column-rule: 1px solid rgb(130, 130, 130);
	column-gap: 20px;
	overflow-x: scroll;
	max-height: 480px;
}

#parent-div{
	max-width: 1250px;
	margin: 0 auto;
	background-color: rgb(29,34,41);
	box-shadow: 3px 3px 3px;
}